* { margin:0; padding:0; }
body { font-family:sans-serif; text-align:center; }
h2 { text-align:center; margin:50px 0; }
.scrollusel { height:400px; }
.scrollusel .no { background-color:#000; color:#fff; font-size:40px; font-weight:bold; padding:10px 15px; position:absolute; top:0; left:0; }

.container { margin:50px auto; }
@media (min-width: 768px) { .container { width:750px; } }
@media (min-width: 992px) { .container { width:970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

.container  { margin:50px auto; text-align:left; width:80% }
.container * { line-height:1.4; }
.container p { font-size:14px; margin-bottom:12.5px; }
.container ul { padding-left:20px; }
.container ul.indent { margin-left:20px; }
.container ul li { margin-bottom:12.5px; }
.container pre { background-color:#ddd; border:1px solid #666; border-radius:5px; margin-top:8px; padding:10px; }
.container code { color:#f00; }
.container .strong { font-weight:bold; }