.scrollusel { height:100%; overflow:hidden; width:100%; position:relative; }
.scrollusel .pane { height:100%; width:100%; position:absolute; top:0; left:0; }
.scrollusel .item { float:left; height:100%; overflow:hidden; position:relative; }
.scrollusel .item > * { height:100%; }

.scrollusel .control { height:100%; width:100%; position:absolute; top:0; left:0; }
.scrollusel .control div { cursor:pointer; height:100%; width:50%; position:absolute; top:0; }
.scrollusel .control div.prev { left:0; }
.scrollusel .control div.prev:hover { background:url("../demo/images/arrow-prev.png") no-repeat 50% 50%; }
.scrollusel .control div.next { right:0; }
.scrollusel .control div.next:hover { background:url("../demo/images/arrow-next.png") no-repeat 50% 50%; }